<article class="audio">
  {{#if parent}}
    <a href="{{url}}">
      <h1>{{title}}</h1>
    </a>
  {{else}}
    <h1>{{title}}</h1>
  {{/if}}
  {{#logged_in}}
    <div class="button edit">Edit</div>
    <div class="button delete">Delete</div>
  {{/logged_in}}
  <span class="pubDate">{{pubDate}}</span>
  <audio src="{{media}}"></audio>
  {{{body}}}
</article>

