<article>
  {{#if parent}}
    <a href="{{url}}">
      <h1>{{title}}</h1>
    </a>
  {{else}}
    <h1>{{title}}</h1>
  {{/if}}
  {{#logged_in}}
    <a href="{{url}}/edit">Edit</a>
  {{/logged_in}}
  <span class="pubDate">{{pubDate}}</span>
  <img src="{{media}}"/>
  {{{body}}}
</article>
