<section class="container">
  <article>
    {{#if parent}}
      <h1>
        <a href="{{url}}">{{title}}</a>
      </h1>
    {{else}}
      <h1>{{title}}</h1>
    {{/if}}
    {{#logged_in}}
      <div class="button edit">Edit</div>
      <div class="button delete">Delete</div>
      <div class="status">{{status}}</div>
    {{/logged_in}}
    <span class="pubDate">{{pubDate}}</span>
    {{#if media}}
      <img src="{{media}}"/>
    {{/if}}
    {{{body}}}
  </article>
</section>
