<article>
  {{#parent}}
    <a href="{{url}}">
      <h1>{{title}}</h1>
    </a>
  {{/parent}}
  {{^parent}}
    <h1>{{title}}</h1>
  {{/parent}}
  <span class="pubDate">{{pubDate}}</span>
  {{{body}}}
</article>
